html {
    font-family: "Baskerville Old Face", Verdana, sans-serif;
    background: azure;
}
body {
    margin: 0 auto;
    min-width: 640px;
    max-width: 1280px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
